<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: rgb(255, 218, 138);">
        <div class="container">
          <a class="navbar-brand" href="/">Restaurang</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/booking_manage">Booking Management</a>
              </li>
            </ul>
            <form class="d-flex">
              <a href="/employee_login"><button class="btn btn-outline-success me-2" type="button">Login</button></a>
              <a href="/employee_register"><button class="btn btn-outline-primary" type="button">Register</button></a>
            </form>
          </div>
        </div>
      </nav>

<div class="container-fluid">
      <div class="row" style="margin-top: 13rem;">
        <div class="col-4">

        </div>
        <div class="col-4 p-5 bg-light rounded-3 shadow-sm">
          <% if(messages.error) { %>
            <div class="alert alert-danger" role="alert"><%= messages.error %></div>
          <% } %>
          <% if(messages.success) { %>
            <div class="alert alert-success" role="alert"><%= messages.success %></div>
          <% } %>
          <form action="/employee_register" method="post">
              <div class="mb-3">
                  <h1 style="text-align: center;">พนักงาน Register</h1>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username">
              </div>
              <div class="mb-3">
                <label for="InputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="InputPassword1" name="password" placeholder="Password">
              </div>
              <div class="mb-3">
                <label for="InputPassword2" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="InputPassword2" name="c_password" placeholder="Confirm password">
              </div>
              <div class="mb-3">
              <label for="phone" class="form-label">Phone</label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
            </div>
              <button type="submit" class="btn btn-primary" style="width: 7rem;">Register</button>
            </form>
      </div>
      <div class="col-4">

      </div>

    </div>
</div>
    
      
    <footer class="footer">
      <div class="container">
        <span class="text-muted">© 2022 Copyright: restaurant.com</span>
      </div>
    </footer>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>